body {
  background-color: #f6f6f6 !important;
}

/* modificaciones */
.busq-redes {
  display: flex;
  flex-direction: row;
}

.Burger {
  background-color: #fe6848;
  color: #fe6848;
}

.iconface,
.iconinst {
  color: #f6f6f6;
  font-size: 1.7em;
}

.buttIngresar,
.buttRegistrarse,
.btn-like,
.btn-search {
  background-color: #fe6848 !important;
  border: none !important;
  /* padding: 4px 8px !important; */
  font-size: 16px !important;
  font-weight: 500 !important;
}

.buttIngresar:hover,
.btn-search:hover,
.buttRegistrarse,
.btn-like:hover {
  background-color: #2bb5aa !important;
}

.nav-link-menu {
  color: white !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.nav-link-menu:hover {
  color: #fe6848 !important;
}

.btn-like,
.btn-search {
  color: white;
}
.bg-burger {
  background-color: #fe6848 !important;
  border-radius: 5px;
}
.footercont {
  background-color: #333333 !important;
  /* margin-top: auto; */
  justify-content: space-evenly !important;
  justify-items: center !important;
  text-align: center;
}
.img-logo-footer {
  margin-top: 1em;
}
.divredesFooter {
  justify-content: center;
  margin-top: 1em;
}

.divcopy {
  text-align: center;
  color: white;
  margin-top: 1em;
  font-size: small;
}
.div-Terminos {
  height: 600px;
  overflow-y: scroll;
}
.text-terminos {
  font-size: small;
}
.tituterminos {
  text-align: center;
  font-size: large;
}
.divterminos {
  padding: 5px;
  margin: 20px;
}
.cardterminos {
  border-radius: 30px;
  border-color: black;
}

.titunosotros {
  font-family: "Poppins", sans-serif;
  color: #fe6848;
  font-weight: 800;
  text-align: center;
}
.divnosotros {
  margin: 10px;
  border-color: black;
  border-radius: 20px;
}
.cardnosotros {
  border-radius: 20px;
  border-color: black;
  padding: 5px;
}
.colblog1 {
  width: auto;
  height: 621.1%;
}
.divtituloblog {
  background-color: #fe6848;
  text-align: center;
}
.titu-divididos {
  text-align: center;
  min-height: 100v;
}

.div-publi {
  height: 20.5em;
}

.divticket {
  margin: 10px;
  border-color: black;
  border-radius: 20px;
}
section{
  width: 100%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}

.ticket{
  width: 250px;
  padding: 10px;
}
.ticket:hover{
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}
.details p:nth-child(1){
  font-weight: bold;
}
.details p:nth-child(2){
  color: grey;
  font-size: 0.8rem;
}
.details p:nth-child(3){
  font-weight: bold;
  color: grey;
}
.details button{
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: skyblue;
  outline: none;
  border-radius: 2px;
}

article{
  width: 90%;
  margin: auto;
}
.table_box img{
  width: 50px;
  height: 50px;
}
.table_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
.table_box div:nth-child(2) button{
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}
.table_box div:nth-child(3) button{
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border:none;
  outline: none;
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}
.table_box div:nth-child(3) button:hover{
  background-color: darkseagreen;
}
.table_box div:nth-child(3) span{
  background-color: lightgrey;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total span:nth-child(1){
  font-size: 2rem;
  color: blue;
  font-weight: bold;
  letter-spacing: 2px;
}
.total span:nth-child(2){
  font-size: 2rem;
  color: green;
  font-weight: bold;
}
.nav_box{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my_shop{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: cursive;
  cursor: pointer;
}
.cart{
  cursor: pointer;
}

.cart span:nth-child(1){
  font-size: 2rem;
  color: white;
}

.cart span:nth-child(2){
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -15px;
}


@media (min-width: 300px) and (max-width: 991px) {
}
