@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


.Navbar{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}


.searchBar{
    width: auto;
}

.divface{
    padding: 10px;
}
.btn-login{
    color: white !important;
    padding: 5px 16px !important;
    font-weight: 700;
}

.btn-botones, .btn-login{
    background-color: #FE6848;
    border: 0;
}

.nav-link-menu{
    color: #2BB5AA !important;
    font-weight: 700;
}
.footercont{
    background-color: black !important;
    justify-content: center;
    justify-items: center;
    
}
.divcopy{
    
    text-align: center;
    color: white;
}