body {
  background-color: #f6f6f6 !important;
}

/* modificaciones */
.busq-redes {
  display: flex;
  flex-direction: row;
}

.Burger {
  background-color: #fe6848;
  color: #fe6848;
}

.iconface,
.iconinst {
  color: #f6f6f6;
  font-size: 1.7em;
}

.buttIngresar,
.buttRegistrarse,
.btn-like,
.btn-search {
  background-color: #fe6848 !important;
  border: none !important;
  /* padding: 4px 8px !important; */
  font-size: 16px !important;
  font-weight: 500 !important;
}

.buttIngresar:hover,
.btn-search:hover,
.buttRegistrarse,
.btn-like:hover {
  background-color: #2bb5aa !important;
}

.nav-link-menu {
  color: white !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.nav-link-menu:hover {
  color: #fe6848 !important;
}

.btn-like,
.btn-search {
  color: white;
}
.bg-burger {
  background-color: #fe6848 !important;
  border-radius: 5px;
}
.footercont {
  background-color: #333333 !important;
  /* margin-top: auto; */
  justify-content: space-evenly !important;
  justify-items: center !important;
  text-align: center;
}
.img-logo-footer {
  margin-top: 1em;
}
.divredesFooter {
  justify-content: center;
  margin-top: 1em;
}

.divcopy {
  text-align: center;
  color: white;
  margin-top: 1em;
  font-size: small;
}
.div-Terminos {
  height: 600px;
  overflow-y: scroll;
}
.text-terminos {
  font-size: small;
}
.tituterminos {
  text-align: center;
  font-size: large;
}
.divterminos {
  padding: 5px;
  margin: 20px;
}
.cardterminos {
  border-radius: 30px;
  border-color: black;
}

.titunosotros {
  font-family: "Poppins", sans-serif;
  color: #fe6848;
  font-weight: 800;
  text-align: center;
}
.divnosotros {
  margin: 10px;
  border-color: black;
  border-radius: 20px;
}
.cardnosotros {
  border-radius: 20px;
  border-color: black;
  padding: 5px;
}
.colblog1 {
  width: auto;
  height: 621.1%;
}
.divtituloblog {
  background-color: #fe6848;
  text-align: center;
}
.titu-divididos {
  text-align: center;
  min-height: 100v;
}
.div-publi {
  height: 20.5em;
}

@media (min-width: 300px) and (max-width: 991px) {
}
